*{padding:0;margin:0;box-sizing:border-box;}
img{}
ul,li{list-style:none;}
a{text-decoration:none;color:#333333;}
.clear:after{content:"";display:block;clear:both;overflow:hidden;}
.clear{zoom:1;}






































